@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&family=Sniglet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Srisakdi:wght@700&display=swap');


:root {
    --fonte-normal: Verdana, Geneva, Tahoma, sans-serif;
    --fonte-kanit: 'Kanit', sans-serif;
    --fonte-sniglet: 'Sniglet', cursive;
    --fonte-poesia: 'Srisakdi', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    
}

pre {
    white-space: pre-line;
    font-family: var(--fonte-poesia);
    font-size: 4vw;
    letter-spacing: 1.5px;
    line-height: 120%;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;   
    
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte-normal);
    font-size: 8vw;
    
}

header > p {
    padding-bottom: 50px;
    font-size: 18px;

}

header a, footer a {
    color: white;
    text-decoration: none;
    font-size: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte-kanit);
}

section.normal {
    background-color: white;    
}

section.imagem {
    background-color: rgb(33, 33, 33);
    color: white;    
    text-shadow: 1px 1px 0px black;
    box-shadow: inset 5px 5px 13px rgba(0, 0, 0, 0.735);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > pre {
    display: inline-block;
    background-color: rgba(58, 58, 58, 0.300);
    padding: 5px;
}

section#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    
    
}

section#img02 {
    background-image: url(../imagens/background002.jpg);
    background-position: right center;
    
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

